<%- include('./partials/publicHeader') %>

<div class="container mt-5 pt-5">
    <div class="jumbotron">
        <h1 class="display-4">We want to hear your opinion</h1>
        <p class="lead">On product: "<%= productName %>"</p>
        <hr class="my-4">
        <p>Review is public opinion, visible to other people who will scan the QR, feedback is visible only to product/service owner</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/public/<%= id %>/reviews" role="button">Reviews</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/public/<%= id %>/feedback" role="button">Feedback</a>
          </p>
      </div>
</div>

<%- include('./partials/footer') %>